@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
  height: 100vh;
  background-size: 400%;
  background: #fff;

}
#errorPage{
  position: absolute;
  top: 10%;
  left: 15%;
  right: 15%;
  bottom: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;

}
#errorPage .content{
  max-width: 600px;
  text-align: center;
}
.content h2.errorNumber{
  font-size: 18vw;
  line-height: 1em;
  position: relative;
}
.content h2.errorNumber:after{
  position: absolute;
  content: attr(data-text);
  top: 0;
  left: 0;
  right: 0;
  background-size: 400%;
  -webkit-text-fill-color: transparent;
  text-shadow: 1px 1px 2px rgba(255,255,255,0.25);
}

.content h4{
  font-size: 1.5em;
  margin-bottom: 20px;
  color: black;
  font-size: 2em;
  max-width: 600px;
  position: relative;
}
.content .button{
  margin: 25px 0;
  display: inline-flex;
}
.content .button a{
  display: inline-block;
  margin: 0 10px;
  text-decoration: none;
  border: 2px solid black;
  color: black;
  font-weight: 500;
  padding: 10px 25px;
  border-radius: 25px;
  transition: all 0.3s ease;
}
.content .button a:hover{
  background: black;
  color: #fff;
}
